Repository svg24/platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Removed repos previews
  packages/assets/src/images/collection.svg
  packages/assets/src/images/platform.svg
Due: none

Fixed notification
  packages/board/src/modules/notification/components/Notification/Notification.css
  packages/board/src/modules/notification/components/Notification/Notification.tsx
  packages/board/src/modules/notification/store/root.ts
  packages/board/src/modules/notification/store/type.ts
  packages/board/types/notification.d.ts
Due: eslint, stylelint

Fixed list grid
  packages/board/src/modules/content/components/ContentList/ContentList.css
Due: stylelint

Updated footer links
  packages/board/src/modules/layout/components/LayoutFooter/LayoutFooter.tsx
Due: eslint

Simplified filter parameter
  packages/board/src/components/Form/Form.css
  packages/board/src/components/Form/Form.tsx
  packages/board/src/components/Form/index.tsx
  packages/board/src/components/index.tsx
  packages/board/src/modules/filter/components/FilterApplied/FilterApplied.css
  packages/board/src/modules/filter/components/FilterParameter/FilterParameter.css
  packages/board/src/modules/filter/components/FilterParameter/FilterParameterAlphabetical.tsx
  packages/board/src/modules/filter/components/FilterRoot/FilterRoot.css
Due: eslint, stylelint

Updated settings
  packages/board/src/components/Form/Form.css
  packages/board/src/components/Transition/Transition.tsx
  packages/board/src/modules/content/components/ContentList/ContentList.tsx
  packages/board/src/modules/filter/components/FilterRoot/FilterRoot.css
  packages/board/src/modules/layout/components/LayoutMain/LayoutMain.tsx
  packages/board/src/modules/layout/store/main.ts
  packages/board/src/modules/settings/components/SettingsRoot/SettingsRoot.tsx
  packages/board/src/modules/settings/store/filter.ts
  packages/board/src/modules/settings/store/index.ts
  packages/board/src/modules/settings/store/root.ts
  packages/board/src/modules/settings/store/size.ts
  packages/board/src/utils/index.ts
  packages/board/src/utils/settings.ts
  packages/board/src/views/Home.tsx
  packages/board/types/layout.d.ts
  packages/board/types/settings.d.ts
Due: eslint, stylelint

Renamed utils files
  packages/board/src/utils/deep-copy.ts
  packages/board/src/utils/escape-string.ts
  packages/board/src/utils/index.ts
  packages/board/src/utils/is-in-viewport.ts
  packages/board/src/utils/set-ref.ts
  packages/board/src/utils/use-fork-ref.ts
Due: eslint

Updated api types
  packages/board/src/plugins/api.ts
  packages/board/types/api.d.ts
Due: eslint

Fixed transition enter class
  packages/board/src/components/Transition/Transition.tsx
Due: eslint

Moved nodemon to dev deps
  package.json
  packages/api/package.json
Due: none

Updated preview mode
  Dockerfile
  Makefile
  dc-base.yml
  dc-dev.yml
  dc-preview.yml
  etc/nginx/preview.conf
  package.json
Due: none

Update readme files
  .gitignore
  README.md
  docs/api.http
  etc/ssl/README.md
  packages/api/src/modules/list/route/schema.json
  packages/collection/src/README.md
Due: none

Add actions
  .github/workflows/api.yml
  .github/workflows/assets.yml
  .github/workflows/board.yml
  .github/workflows/www.yml
Due: none

fix actions scripts
  .github/workflows/api.yml
  .github/workflows/assets.yml
  .github/workflows/board.yml
  .github/workflows/www.yml
Due: none

moved statuses to top
  README.md
Due: none

force readd github actions
  .github/workflows/api.yml
  .github/workflows/assets.yml
  .github/workflows/board.yml
  .github/workflows/www.yml
Due: none

force readd github actions
  .github/workflows/assets.yml
  .github/workflows/board.yml
  .github/workflows/settings.json
  .github/workflows/www.yml
Due: none

remove github actions
  .github/workflows/assets.yml
  .github/workflows/board.yml
  .github/workflows/settings.json
  .github/workflows/www.yml
Due: none

re-create github actions
  .github/workflows/assets.yml
  .github/workflows/board.yml
  .github/workflows/settings.json
  .github/workflows/www.yml
Due: none

added api action
  .github/workflows/api.yml
  .github/workflows/settings.json
Due: none

force actions
  packages/api/package.json
  packages/assets/package.json
  packages/board/package.json
  packages/collection/package.json
  packages/www/package.json
Due: none

force actions
  packages/api/package.json
  packages/assets/package.json
  packages/board/package.json
  packages/www/package.json
Due: none

added prod configs
  Dockerfile
  dc-base.yml
  dc-dev.yml
  dc-preview.yml
  dc-prod.yml
  etc/nginx/base.conf
  etc/nginx/dev.conf
  etc/nginx/preview.conf
  etc/nginx/prod.conf
  etc/nginx/snippets/server.conf
  etc/nginx/snippets/ssl/dev.conf
  etc/nginx/snippets/ssl/prod.conf
Due: none

update scripts
  Makefile
  README.md
Due: none

add network to snippet
  README.md
Due: none

add ssl security params
  etc/nginx/snippets/ssl/prod.conf
Due: none

add certbot
  Dockerfile
  Makefile
  dc-preview.yml
  dc-prod.yml
Due: none

add well-known locations
  etc/nginx/snippets/server.conf
Due: none

fix certbot volume
  dc-prod.yml
Due: none

fix certbot scripts
  Makefile
Due: none

remove certbot /var volume
  dc-prod.yml
  etc/nginx/snippets/server.conf
Due: none

remove certbot as service
  Makefile
  dc-prod.yml
  etc/nginx/snippets/ssl/prod.conf
Due: none

migrate additional ssl params to image runner
  Dockerfile
  etc/nginx/snippets/server.conf
Due: none

fix certbot data
  Makefile
Due: none

migrate ssl from http to server
  etc/nginx/base.conf
  etc/nginx/dev.conf
  etc/nginx/prod.conf
  etc/nginx/snippets/server.conf
Due: none

add images to snippet
  README.md
Due: none

undo moved ssl params
  etc/nginx/base.conf
  etc/nginx/dev.conf
  etc/nginx/prod.conf
  etc/nginx/snippets/server.conf
  etc/nginx/snippets/ssl/prod.conf
Due: none

uncomment ssl params
  etc/nginx/prod.conf
  etc/nginx/snippets/ssl/prod.conf
Due: none

made configs more transparent
  Dockerfile
  etc/nginx/base.conf
  etc/nginx/dev.conf
  etc/nginx/preview.conf
  etc/nginx/prod.conf
  etc/nginx/snippets/ssl/dev.conf
  etc/nginx/snippets/ssl/prod.conf
Due: none

Path conditions:
  eslint: any of: *.{cjs,d.ts,js,ts,tsx}
  stylelint: any of: *.css
