Repository svg24/platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
  "*.{cjs,d.ts,js,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

Fixed env
  vite.config.js
Due: eslint

Fixed and added types for jsdoc
  .eslintrc.cjs
  tailwind.config.cjs
Due: eslint

Fixed tailwindcss 3 purge
  vite.config.js
Due: eslint

Fixed stylelint commands
  .stylelintignore
  package.json
Due: none

Fixed eslint commands
  .eslintrc.cjs
  package.json
Due: eslint

Added colors
  packages/assets/src/styles/colors.css
  tailwind.config.cjs
Due: eslint, stylelint

Cleared tsconfigs
  packages/assets/tsconfig.json
  packages/board/tsconfig.json
Due: none

Updated www
  gulpfile.js
  package.json
  packages/www/src/assets/images/board-preview.webp
  packages/www/src/assets/images/type-24x24.webp
  packages/www/src/assets/images/type-original.webp
  packages/www/src/assets/scripts/core.ts
  packages/www/src/assets/scripts/fixed-header.ts
  packages/www/src/assets/styles/button.css
  packages/www/src/assets/styles/company.css
  packages/www/src/assets/styles/core.css
  packages/www/src/assets/styles/description.css
  packages/www/src/assets/styles/footer.css
  packages/www/src/assets/styles/header.css
  packages/www/src/assets/styles/heading.css
  packages/www/src/assets/styles/link.css
  packages/www/src/assets/styles/main.css
  packages/www/src/assets/styles/reset.css
  packages/www/src/manifest.json
  packages/www/src/pages/404.njk
  packages/www/src/pages/about.njk
  packages/www/src/pages/changelog.njk
  packages/www/src/pages/index.njk
  packages/www/src/pages/policy.njk
  packages/www/src/pages/support.njk
  packages/www/src/snippets/assets.njk
  packages/www/src/snippets/company.njk
  packages/www/src/snippets/document.njk
  packages/www/src/snippets/footer.njk
  packages/www/src/snippets/header.njk
  packages/www/src/snippets/meta.njk
  packages/www/src/snippets/simple.njk
  packages/www/tsconfig.json
  packages/www/types/env.d.ts
  tsconfig.json
  yarn.lock
Due: eslint, stylelint

Fixed constant case
  packages/assets/src/constants.ts
  packages/assets/src/listener.ts
Due: eslint

Renamed type
  packages/www/src/assets/images/type-square.webp
  packages/www/src/pages/index.njk
Due: none

Deleted types
  packages/www/tsconfig.json
  packages/www/types/env.d.ts
Due: eslint

Added env vars for www
  dc-dev.yml
  gulpfile.js
Due: eslint

Added collection deps
  package.json
  yarn.lock
Due: none

Added collection package
  .gitignore
  gulpfile.js
  package.json
  packages/collection/package.json
Due: eslint

Renamed board env vars
  dc-dev.yml
  vite.config.js
Due: eslint

Deleted unnecessary config
  Dockerfile
  tsconfig.json
Due: none

Sort copied files
  Dockerfile
Due: none

Removed db arg
  Dockerfile
  dc-base.yml
Due: none

Renamed assets env var
  dc-base.yml
  packages/assets/src/index.ts
  packages/assets/types/env.d.ts
Due: eslint

Added assets images
  packages/assets/src/images/collection.svg
  packages/assets/src/images/platform.svg
Due: none

Refactored eslint
  .eslintrc.cjs
Due: eslint

Refactored types
  packages/board/src/components/Form/Form.tsx
  packages/board/src/components/Popper/Popper.tsx
  packages/board/src/modules/bag/components/BagView/BagViewWithThumbs.tsx
  packages/board/src/modules/layout/components/LayoutHeader/LayoutHeaderFilter.tsx
  packages/board/src/modules/layout/components/LayoutHeader/LayoutHeaderIcon.tsx
  packages/board/types/api.d.ts
  packages/board/types/bag.d.ts
  packages/board/types/content.d.ts
  packages/board/types/env.d.ts
  packages/board/types/filter.d.ts
  packages/board/types/form.d.ts
  packages/board/types/layout.d.ts
  packages/board/types/notification.d.ts
  packages/board/types/search.d.ts
  packages/board/types/settings.d.ts
  packages/board/types/store.d.ts
  packages/board/types/user.d.ts
Due: eslint

Restructed item response
  packages/api/src/modules/item/index.ts
  packages/api/src/utils/index.ts
  packages/api/src/utils/to-content.ts
  packages/api/types/item.d.ts
  packages/board/src/modules/bag/components/BagContent/BagContent.tsx
Due: eslint

Fixed header for mobile-s
  packages/www/src/assets/styles/company.css
Due: stylelint

Restructed api item module
  packages/api/src/modules/item/index.ts
  packages/api/src/modules/list/index.ts
  packages/api/src/utils/get-preview.ts
  packages/api/src/utils/get-type.ts
  packages/api/src/utils/get-version.ts
  packages/api/src/utils/index.ts
  packages/api/src/utils/to-component-name.ts
  packages/api/src/utils/to-css.ts
  packages/api/src/utils/to-jsx.ts
  packages/api/src/utils/to-react-js.ts
  packages/api/src/utils/to-react-ts.ts
  packages/api/src/utils/to-vue-js.ts
  packages/api/src/utils/to-vue-ts.ts
  packages/api/types/content.d.ts
  packages/api/types/item.d.ts
  packages/api/types/list.d.ts
  packages/board/src/modules/bag/components/BagContent/BagContent.tsx
  packages/board/src/modules/bag/components/BagSettings/BagSettingsTypes.tsx
  packages/board/src/modules/bag/components/BagView/BagViewWithThumbs.tsx
  packages/board/src/modules/bag/components/BagView/BagViewWithoutThumbs.tsx
  packages/board/types/api.d.ts
  packages/board/types/bag.d.ts
Due: eslint

Simplified api content module
  packages/api/src/modules/content/index.ts
  packages/api/src/modules/content/route/index.ts
  packages/api/src/modules/content/schema.json
  packages/api/types/content.d.ts
Due: eslint

Update item route schema
  packages/api/src/modules/item/route/schema.json
Due: none

Fixed version
  packages/board/src/modules/bag/components/BagMeta/BagMetaIndividual.tsx
Due: eslint

Fixed content view
  packages/board/src/modules/bag/components/BagContent/BagContent.css
  packages/board/src/modules/bag/components/BagContent/BagContent.tsx
Due: eslint, stylelint

Restructed item schema
  packages/api/src/modules/item/route/index.ts
  packages/api/src/modules/item/route/schema.json
  packages/api/src/modules/list/index.ts
  packages/api/types/item.d.ts
  packages/api/types/list.d.ts
  packages/board/src/modules/bag/components/BagHeading/BagHeading.tsx
  packages/board/src/modules/bag/components/BagMeta/BagMeta.tsx
Due: eslint

Fixed title
  packages/board/index.html
Due: none

Updated meta
  packages/assets/src/images/about.webp
  packages/assets/src/images/board.webp
  packages/assets/src/images/chengelog.webp
  packages/assets/src/images/home.webp
  packages/assets/src/images/policy.webp
  packages/assets/src/images/support.webp
  packages/board/index.html
  packages/www/src/snippets/meta.njk
Due: none

Added handler for webp
  gulpfile.js
Due: eslint

Added alt for types images
  packages/www/src/pages/index.njk
Due: none

Added preview mode
  Makefile
  dc-preview.yml
  package.json
  vite.config.js
Due: eslint

Added max-len for js
  .eslintrc.cjs
Due: eslint

Moved reset styles into assets package
  gulpfile.js
  packages/assets/src/styles/core.css
  packages/assets/src/styles/reset.css
  packages/www/src/assets/styles/reset.css
Due: eslint, stylelint

Added mime type for webp
  packages/assets/src/constants.ts
Due: eslint

Fixed header settings button
  packages/board/src/components/Popper/Popper.tsx
  packages/board/src/modules/layout/components/LayoutHeader/LayoutHeaderButton.tsx
  packages/board/src/modules/layout/components/LayoutHeader/LayoutHeaderSettings.tsx
Due: eslint
